.card {

  &__wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 8px;
    width: 400px;
    height: auto;
    padding: 12px 16px 20px;
    align-items: flex-start;
    text-align: start;

    h1 {
      font-size: 24px;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        color: #2f74d8;
      }
    }
  }

  &__author-info {
    display: flex;
    flex-direction: column;
    gap: 4px;

    span{
      font-size: 15px;
      transition: 0.2s;
    }
    
    span:first-child:hover{
      color: #2f74d8;
      cursor: pointer;
    }
  }

  &__icon{
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  &__details{
    display: flex;
    align-items: flex-end;
    gap: 8px;
    cursor: pointer;
  }
}