.card {

  &__wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 8px;
    width: 500px;
    height: auto;
    align-items: flex-start;
    text-align: start;
  }
  &__post-info {
    display: flex;
    flex-direction: column;
    padding: 12px 16px 20px;
    h1 {
      font-size: 24px;
      cursor: pointer;
      transition: 0.2s;

      &:hover {
        color: #2f74d8;
      }
    }
  }

  &__author-info {
    display: flex;
    flex-direction: column;
    gap: 4px;

    span{
      font-size: 15px;
      transition: 0.2s;
    }
    
    span:first-child:hover{
      color: #2f74d8;
      cursor: pointer;
    }
  }

  &__icon{
    display: flex;
    flex-direction: row;
    gap: 16px;
  }

  &__details{
    display: flex;
    align-items: flex-end;
    gap: 8px;
    cursor: pointer;
  }

  &__comments {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding: 16px 0px;
    gap: 12px;
  }

  &__comment{
    display: flex;
    flex-direction: column;
    font-size: 15px;

    span {
      padding-left: 12px;
    }
  }

  &__comment-user{
    display: flex;
    flex-direction: column;
    padding: 12px 0px;
    font-size: 15px;
    border-top: 1px solid gray;

    span{
      font-size: 15px;
    }
    
    span:first-child{
      font-weight: bold;
    }
  }
}